
.active {
    display: block;
    visibility: visible;
}
#section3.active .text-block{
    color:#bfbfbf;
}
#section3.active .phones a {
    color: #394048;
}
#section3.active .phones a>span {
    color: #394048;
}
#section3.active .call-order {
    border:1px solid #394048;
    background-image:url(../img/call-icon-dark.png); 
}
#section3.active .languages a {
    color: #bfbfbf;
}
#section3.active .languages a.active {
    color: #394048;
}
#section3.active .languages {
    color: #394048;
}
#section3.active .foot-text .foot-holder span {
    color: #394048;
}
#section3.active .divider {
    color: #394048;
}
#section3.active .skype-holder p {
    color: #394048;
}
#section3.active .skype-holder i  {
    color: #394048;
}
#section1 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 40px);
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg1-1920x1070.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#section2 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 40px);
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg2-1920x1070.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#section3 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 40px);
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg3-1920x1070.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#section4 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 40px);
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg4-1920x1070.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#section5 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 40px);
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg5-1920x1070.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hover-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh - 40px);
    z-index: 99;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#section1 .hover-block {
    background-image: url(../img/hover-bcg1-1920x1070.png);
}
#section3 .hover-block {
    background-image: url(../img/hover-bcg3-1920x1070.png);
}
#section4 .hover-block {
    background-image: url(../img/hover-bcg4-1920x1070.png);
}
#section5 .hover-block {
    background-image: url(../img/hover-bcg5-1920x1070.png);
}
.monitor {
    display: block;
    position: relative;
    width: 720px;
    height: 600px;
    background-image: url(../img/pc1920x1070.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 32vh;
    left: 710px;
    z-index: 9;
    overflow: hidden;
    -webkit-animation: bottomAppearance 1s ease-in-out;
            animation: bottomAppearance 1s ease-in-out;
}
@-webkit-keyframes bottomAppearance {
    0% {
        top:1070px;
    }
    100% {
        top: 32vh;
    }
}
@keyframes bottomAppearance {
    0% {
        top:1070px;
    }
    100% {
        top: 32vh;
    }
}

.picture-box {
    display: block;
    position: relative;
    top: 26px;
    left: 17px;
    width: 686px;
    height: 384px;
    overflow: hidden;
    z-index: 6;   
}
.picture-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 686px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;   
    }

#section1 .picture-box:before {
    height: 1800px;
    -webkit-animation: scroll1 13s ease-in-out infinite;
            animation: scroll1 13s ease-in-out infinite;
}
@-webkit-keyframes scroll1 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    90% {
        top:-1400px;
    }
    100% {
        top:-1400px;
    }
}
@keyframes scroll1 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    90% {
        top:-1400px;
    }
    100% {
        top:-1400px;
    }
}
#section2 .picture-box:before {
    height: 3850px;
    -webkit-animation: scroll2 13s ease-in-out infinite;
            animation: scroll2 13s ease-in-out infinite;
}
@-webkit-keyframes scroll2 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    90% {
        top:-3467px;
    }
    100% {
        top:-3467px;
    }
}
@keyframes scroll2 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    90% {
        top:-3467px;
    }
    100% {
        top:-3467px;
    }
}
#section3 .picture-box:before {
    height: 2560px;
    -webkit-animation: scroll3 13s ease-in-out infinite;
            animation: scroll3 13s ease-in-out infinite;
}
@-webkit-keyframes scroll3 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    90% {
        top:-2177px;
    }
    100% {
        top:-2177px;
    }
}
@keyframes scroll3 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    90% {
        top:-2177px;
    }
    100% {
        top:-2177px;
    }
}
#section4 .picture-box:before {
    height: 1720px;
    -webkit-animation: scroll4 13s ease-in-out infinite;
            animation: scroll4 13s ease-in-out infinite;
}
@-webkit-keyframes scroll4 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    90% {
        top:-1337px;
    }
    100% {
        top:-1337px;
    }
}
@keyframes scroll4 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    90% {
        top:-1337px;
    }
    100% {
        top:-1337px;
    }
}
#section5 .picture-box:before {
    height: 2720px;
    -webkit-animation: scroll5 13s ease-in-out infinite;
            animation: scroll5 13s ease-in-out infinite;
}
@-webkit-keyframes scroll5 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    90% {
        top:-2337px;
    }
    100% {
        top:-2337px;
    }
}
@keyframes scroll5 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    90% {
        top:-2337px;
    }
    100% {
        top:-2337px;
    }
}
#section1 .picture-box:before {
    content: '';
    background-image: url(../img/content1-522x1378.png);
}
#section2 .picture-box:before {
    content: '';
    background-image: url(../img/content2.png);
}
#section3 .picture-box:before {
    content: '';
    background-image: url(../img/content3.png);
}
#section4 .picture-box:before {
    content: '';
    background-image: url(../img/content4.png);
}
#section5 .picture-box:before {
    content: '';
    background-image: url(../img/content5.png);
}
.block-color {
    width: 550px;
    height: 460px;
    position: absolute;
    right: 0;
    top: 140px;
    font-family: 'Bicubik', sans-serif;
    color:#fff;
    font-weight: 300;
    -webkit-box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75);
    box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75); 
    z-index: 99;
    -webkit-animation: rightBoxAppearance 2s linear;
            animation: rightBoxAppearance 2s linear;
}

@-webkit-keyframes rightBoxAppearance {
    0% {
        right: -555px;
    }
    50% {
        right: -555px;
    }
    95% {
        right: 30px;
    }
    100%{
        right: 0;
    }
}

@keyframes rightBoxAppearance {
    0% {
        right: -555px;
    }
    50% {
        right: -555px;
    }
    95% {
        right: 30px;
    }
    100%{
        right: 0;
    }
}
.block-color p {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: 50px;
    text-transform: uppercase;
}
#section1 .block-color {
    background-color: #f54657;
}
#section2 .block-color {
    background-color: #b6c02c;
}
#section3 .block-color {
    background-color: #36d8c1;
}
#section4 .block-color {
    background-color: #d8ce6d;
}
#section5 .block-color {
    background-color: #b21623;
}
.css-typing {
    display: block;
    margin-top: 60px;
    margin-left: -5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 48px;
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 3s steps(50, end);
    animation: type 3s steps(50, end);
}
.css-typing1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 48px;
    display: block;
    margin-left: 125px;
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: types 4s steps(50, end);
    animation: types 4s steps(50, end);
}
#section5 .css-typing {
    margin-top: 45px;
    font-size: 72px;
    line-height: 60px;
}
#section5 .css-typing1 {
    font-size: 72px;
    margin-left: 190px;
    line-height: 60px;
}

@keyframes type{
    0% { width: 0; }
    70% {width: 0;}
}
@-webkit-keyframes type{
    0% { width: 0; }
    70% {width: 0;}
}
@keyframes types{
    0% { width: 0; }
    70% {width: 0;}
}
@-webkit-keyframes types{
    0% { width: 0; }
    70% {width: 0;}
}
.block-color button {
    position: absolute;
    bottom: -1px;
    left: 50px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    font-family: 'Bicubik', sans-serif;
    color: #fff;
}

@media all and (max-width: 1680px) {
    .monitor {
        width: 750px;
        height: 700px;
        top: 25vh;
        left: 490px;
        background-size: 100%;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            top:1050px;
        }
        100% {
            top: 25vh;
        }
    }
    @keyframes bottomAppearance {
        0% {
            top:1050px;
        }
        100% {
            top: 25vh;
        }
    }
    .picture-box {
        top: 25px;
        left: 17px;
        width: 716px;
        height: 402px;  
    }
    .picture-box:before {
        width: 716px;
        height: 1478px;
    }
    .block-color {
        width: 550px;
        height: 460px;
        top: 140px;
        }
    @-webkit-keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    @keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .css-typing {
        font-size: 48px;
    }
    .css-typing1 {
        font-size: 48px;
    }
}

@media all and (max-width: 1440px){
    .monitor {
        width: 630px;
        height: 700px;
        top: 240px;
        left: 375px;
        background-size: 100%;
    }
    .picture-box {
        top: 20px;
        left: 15px;
        width: 600px;
        height: 340px;  
    }
    .picture-box:before {
        width: 600px;
        height: 1478px;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            top:905px;
        }
        100% {
            top: 240px;
        }
    }
    @keyframes bottomAppearance {
        0% {
            top:905px;
        }
        100% {
            top: 240px;
        }
    }
    .block-color {
        width: 500px;
        height: 400px;
        top: 152px;
        }
    @-webkit-keyframes rightBoxAppearance {
        0% {
            right: -505px;
        }
        50% {
            right: -505px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    @keyframes rightBoxAppearance {
        0% {
            right: -505px;
        }
        50% {
            right: -505px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
}

@media all and (max-width: 1366px) {
    .monitor {
        width: 490px;
        height: 600px;
        top: 170px;
        left: 496px;
        background-size: 100%;
    }
    .picture-box {
        top: 17px;
        left: 12px;
        width: 467px;
        height: 263px;  
    }
    .picture-box:before {
        width: 467px;
        height: auto;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            top:905px;
        }
        100% {
            top: 170px;
        }
    }
    @keyframes bottomAppearance {
        0% {
            top:905px;
        }
        100% {
            top: 170px;
        }
    }
    .block-color {
        width: 430px;
        height: 360px;
        top: 140px;
        }
    @-webkit-keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    @keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .css-typing {
        font-size: 36px;
    }
    .css-typing1 {
        font-size: 36px;
    }
}


@media all and (max-width: 1280px) {
    .monitor {
        top: 150px;
        left: 411px;
        background-size: 100%;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            top:720px;
        }
        100% {
            top: 150px;
        }
    }
    @keyframes bottomAppearance {
        0% {
            top:720px;
        }
        100% {
            top: 150px;
        }
    } 
    #section1 .picture-box:before {
        height: 1400px;
    }
    @-webkit-keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:-1100px;
        }
    }
    @keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:-1100px;
        }
    }
    #section2 .picture-box:before {
        height: 3000px;
    }
    @-webkit-keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-2700px;
        }
        100% {
            top:-2700px;
        }
    }
    @keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-2700px;
        }
        100% {
            top:-2700px;
        }
    }
    #section3 .picture-box:before {
        height: 2000px;
    }
    @-webkit-keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1700px;
        }
        100% {
            top:-1700px;
        }
    }
    @keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1700px;
        }
        100% {
            top:-1700px;
        }
    }
    #section4 .picture-box:before {
        height: 1400px;
    }
    @-webkit-keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:-1100px;
        }
    }
    @keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:-1100px;
        }
    }
    #section5 .picture-box:before {
        height: 2300px;
        -webkit-animation: scroll5 12s ease-in-out infinite;
                animation: scroll5 12s ease-in-out infinite;
    }
    @-webkit-keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1998px;
        }
        100% {
            top:-1998px;
        }
    }
    @keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1998px;
        }
        100% {
            top:-1998px;
        }
    }
    .block-color {
        width: 430px;
        height: 320px;
        top: 110px;
        }
    @-webkit-keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    @keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .css-typing {
        margin-top: 45px;
        font-size: 36px;
    }
    .css-typing1 {
        font-size: 36px;
    }
    #section5 .css-typing {
        margin-top: 45px;
        font-size: 48px;
    }
    #section5 .css-typing1 {
        font-size: 48px;
        margin-left: 110px;
    }
}

@media all and (max-width: 1024px) {
    .monitor {
        height: 460px;
        top: 150px;
        left: 320px;
        background-size: 100%;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            top:768px;
        }
        100% {
            top: 150px;
        }
    }
    @keyframes bottomAppearance {
        0% {
            top:768px;
        }
        100% {
            top: 150px;
        }
    }
    .picture-box:before {
        width: 524px;
    }
    #section1 .picture-box:before {
        height: 1400px;
    }
    @-webkit-keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1080px;
        }
        100% {
            top:-1080px;
        }
    }
    @keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1080px;
        }
        100% {
            top:-1080px;
        }
    }
    #section2 .picture-box:before {
        height: 3000px;
    }
    @-webkit-keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-2700px;
        }
        100% {
            top:-2700px;
        }
    }
    @keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-2700px;
        }
        100% {
            top:-2700px;
        }
    }
    #section3 .picture-box:before {
        height: 2000px;
    }
    @-webkit-keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1700px;
        }
        100% {
            top:-1700px;
        }
    }
    @keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1700px;
        }
        100% {
            top:-1700px;
        }
    }
    #section4 .picture-box:before {
        height: 1400px;
    }
    @-webkit-keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:-1100px;
        }
    }
    @keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:-1100px;
        }
    }
    #section5 .picture-box:before {
        height: 2300px;
        -webkit-animation: scroll5 12s ease-in-out infinite;
                animation: scroll5 12s ease-in-out infinite;
    }
    @-webkit-keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1998px;
        }
        100% {
            top:-1998px;
        }
    }
    @keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1998px;
        }
        100% {
            top:-1998px;
        }
    }
    .block-color {
        width: 330px;
        height: 280px;
        top: 110px;
        }
    @-webkit-keyframes rightBoxAppearance {
        0% {
            right: -335px;
        }
        50% {
            right: -335px;
        }
        95% {
            right: 20px;
        }
        100%{
            right: 0;
        }
    }
    @keyframes rightBoxAppearance {
        0% {
            right: -335px;
        }
        50% {
            right: -335px;
        }
        95% {
            right: 20px;
        }
        100%{
            right: 0;
        }
    }
    .css-typing {
        margin-top: 45px;
        font-size: 24px;
    }
    .css-typing1 {
        font-size: 24px;
        margin-left: 70px;
    }
    #section5 .css-typing {
        margin-top: 45px;
        font-size: 34px;
        line-height: 30px;
    }
    #section5 .css-typing1 {
        font-size: 34px;
        margin-left: 70px;
        line-height: 30px;
    }
    .block-color button {
        left: 0px;
        width: 100.5%;
        padding: 30px 30px; 
    }
}

@media all and (max-width: 790px) {
    .block-color {
        top: 150px;
    }
    .monitor {
        top: 230px;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            top:768px;
        }
        100% {
            top: 230px;
        }
    }
    @keyframes bottomAppearance {
        0% {
            top:768px;
        }
        100% {
            top: 230px;
        }
    }
    .phones {
        padding-top: 20px;
    }
}

@media all and (max-width: 768px) {
    #section1 {
        background-image: url(../img/bcg1-768x1024.png);
    }
    #section1 .hover-block {
        background-image: url(../img/hover-bcg1-768x1024.png);
    }
    #section2 {
        background-image:url(../img/bcg2-768x1024.png);
    }
    #section3 {
        background-image:url(../img/bcg3-768x1024.png);
    }
    #section3 .hover-block {
        background-image: url(../img/hover-bcg3-768x1024.png);
    }
    #section4 {
        background-image:url(../img/bcg4-768x1024.png);
    }
    #section4 .hover-block {
        background-image: url(../img/hover-bcg4-768x1024.png);
    }
    #section5 {
        background-image: url(../img/bcg5-768x1024.png);
    }
    #section5 .hover-block {
        background-image: url(../img/hover-bcg5-768x1024.png);
    }
    .monitor {
        width: 560px;
        height: 500px;
        top: 150px;
        left: 165px;
        background-size: 100%;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            left: 768px;
        }
        100% {
            left: 165px;
        }
    }
    @keyframes bottomAppearance {
        0% {
            left: 768px;
        }
        100% {
            left: 165px;
        }
    }
    .picture-box {
        top: 18px;
        left: 13px;
        width: 535px;
        height: 305px;  
    }
    .picture-box:before {
        width: 535px;
    }
    #section1 .picture-box:before {
        height: 1400px;
    }
    @-webkit-keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1080px;
        }
        100% {
            top:-1080px;
        }
    }
    @keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1080px;
        }
        100% {
            top:-1080px;
        }
    }
    #section2 .picture-box:before {
        height: 3000px;
    }
    @-webkit-keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-2700px;
        }
        100% {
            top:-2700px;
        }
    }
    @keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-2700px;
        }
        100% {
            top:-2700px;
        }
    }
    #section3 .picture-box:before {
        height: 2000px;
    }
    @-webkit-keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1700px;
        }
        100% {
            top:-1700px;
        }
    }
    @keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1700px;
        }
        100% {
            top:-1700px;
        }
    }
    #section4 .picture-box:before {
        height: 1400px;
    }
    @-webkit-keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:-1100px;
        }
    }
    @keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:-1100px;
        }
    }
    #section5 .picture-box:before {
        height: 2300px;
        -webkit-animation: scroll5 12s ease-in-out infinite;
                animation: scroll5 12s ease-in-out infinite;
    }
    @-webkit-keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1998px;
        }
        100% {
            top:-1998px;
        }
    }
    @keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1998px;
        }
        100% {
            top:-1998px;
        }
    }
    .block-color {
        width: 370px;
        height: 280px;
        top: 515px;
        }
    @-webkit-keyframes rightBoxAppearance {
        0% {
            right: -375px;
        }
        50% {
            right: -375px;
        }
        95% {
            right: 20px;
        }
        100%{
            right: 0;
        }
    }
    @keyframes rightBoxAppearance {
        0% {
            right: -375px;
        }
        50% {
            right: -375px;
        }
        95% {
            right: 20px;
        }
        100%{
            right: 0;
        }
    }
    .css-typing {
        margin-top: 45px;
        font-size: 24px;
    }
    .css-typing1 {
        font-size: 24px;
        margin-left: 70px;
    }
    .block-color button {
        right: 0px;
        bottom: 0;
        left: 50px;
        width: 320px;
        padding: 30px 30px; 
    }
}

@media all and (max-width: 640px) and (max-height: 1024px) {
    .block-color {
        top: 510px;
    }
    .monitor {
        left: 150px;
        top: 180px;
        width: 465px;
        height: 430px;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            left: calc(100% - 10px);
        }
        100% {
            left: 150px;
        }
    }
    @keyframes bottomAppearance {
        0% {
            left: calc(100% - 10px);
        }
        100% {
            left: 150px;
        }
    }
    .picture-box {
        top: 17px;
        left: 11px;
        width: 443px;
        height: 247px;
    }
    .block-color {
        top: 490px;
    }
    .picture-box:before {
        width: 444px;
    }
    #section1 .picture-box:before {
        height: 1150px;
    }
    @-webkit-keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-900px;
        }
        100% {
            top:-900px;
        }
    }
    @keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-900px;
        }
        100% {
            top:-900px;
        }
    }
    #section2 .picture-box:before {
        height: 2500px;
    }
    @-webkit-keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-2252px;
        }
        100% {
            top:-2252px;
        }
    }
    @keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-2252px;
        }
        100% {
            top:-2252px;
        }
    }
    #section3 .picture-box:before {
        height: 1700px;
    }
    @-webkit-keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1453px;
        }
        100% {
            top:-1453px;
        }
    }
    @keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1453px;
        }
        100% {
            top:-1453px;
        }
    }
    #section4 .picture-box:before {
        height: 1100px;
        -webkit-animation: scroll4 12s ease-in-out infinite;
                animation: scroll4 12s ease-in-out infinite;
    }
    @-webkit-keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-852px;
        }
        100% {
            top:-852px;
        }
    }
    @keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-852px;
        }
        100% {
            top:-852px;
        }
    }
    #section5 .picture-box:before {
        height: 2000px;
        -webkit-animation: scroll5 12s ease-in-out infinite;
                animation: scroll5 12s ease-in-out infinite;
    }
    @-webkit-keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1750px;
        }
        100% {
            top:-1750px;
        }
    }
    @keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1750px;
        }
        100% {
            top:-1750px;
        }
    }
}

@media all and (max-width: 500px) {
    #section1 {
        height: 100vh;
        background-image:url(../img/bcg1-mobile.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #section2 {
        height: 100vh;
        background-image:url(../img/bcg2-mobile.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #section3 {
        height: 100vh;
        background-image:url(../img/bcg3-mobile.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #section4 {
        height: 100vh;
        background-image:url(../img/bcg4-mobile.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #section5 {
        height: 100vh;
        background-image:url(../img/bcg5-mobile.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .hover-block {
        display: none;
    }
    .block-color {
        width: 225px;
        height: 220px;
        top: 240px;
        right: auto;
        left: 0;
    }
    .block-color button {
        width: 225px;
        left: 0;
        bottom: 0;
        height: 60px;
        padding: 20px;
        font-size: 10px;
    }
    .block-color p {
        margin-top: 30px;
        font-size: 10px;
        margin-left: 20px;
    }
    .css-typing {
        margin-top: 20px;
        font-size: 20px;
    }
    .css-typing1 {
        font-size: 20px;
        margin-left: 55px;
    }
    #section5 .css-typing {
        margin-top: 20px;
        font-size: 26px;
    }
    #section5 .css-typing1 {
        font-size: 26px;
        margin-left: 55px;
    }
    @-webkit-keyframes rightBoxAppearance {
        0% {
            left: -235px;
        }
        50% {
            left: -235px;
        }
        95% {
            left: 20px;
        }
        100%{
            left: 0;
        }
    }
    @keyframes rightBoxAppearance {
        0% {
            left: -235px;
        }
        50% {
            left: -235px;
        }
        95% {
            left: 20px;
        }
        100%{
            left: 0;
        }
    }
    .monitor {
        width: 270px;
        height: 250px;
        top: 120px;
        left: calc(100% - 260px);
        -webkit-animation:bottomAppearance 1s linear;
                animation:bottomAppearance 1s linear;
    }
    .picture-box {
        top: 10px;
        left: 7px;
        height: 143px;
        width: 257px;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            left: calc(100% + 10px);
        }
        100% {
            left: calc(100% - 260px);
        }
    }
    @keyframes bottomAppearance {
        0% {
            left: calc(100% + 10px);
        }
        100% {
            left: calc(100% - 260px);
        }
    }

    .picture-box:before {
        width: 258px;
    }
    #section1 .picture-box:before {
        height: 700px;
    }
    @-webkit-keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-550px;
        }
        100% {
            top:-550px;
        }
    }
    @keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-550px;
        }
        100% {
            top:-550px;
        }
    }
    #section2 .picture-box:before {
        height: 1700px;
    }
    @-webkit-keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1550px;
        }
        100% {
            top:-1550px;
        }
    }
    @keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1550px;
        }
        100% {
            top:-1550px;
        }
    }
    #section3 .picture-box:before {
        height: 1000px;
    }
    @-webkit-keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-853px;
        }
        100% {
            top:-853px;
        }
    }
    @keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-853px;
        }
        100% {
            top:-853px;
        }
    }
    #section4 .picture-box:before {
        height: 700px;
        -webkit-animation: scroll4 12s ease-in-out infinite;
                animation: scroll4 12s ease-in-out infinite;
    }
    @-webkit-keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-550px;
        }
        100% {
            top:-550px;
        }
    }
    @keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-550px;
        }
        100% {
            top:-550px;
        }
    }
    #section5 .picture-box:before {
        height: 1200px;
        -webkit-animation: scroll5 12s ease-in-out infinite;
                animation: scroll5 12s ease-in-out infinite;
    }
    @-webkit-keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1055px;
        }
        100% {
            top:-1055px;
        }
    }
    @keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        90% {
            top:-1055px;
        }
        100% {
            top:-1055px;
        }
    }
    .foot-text {
        bottom: 0px;
    }
}

@media all and (width: 1024px) and (height: 1366px) {
    .monitor {
        left: 310px;
        top:320px;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            top: calc(100% + 10px);
        }
        100% {
            top:320px;
        }
    }
    @keyframes bottomAppearance {
        0% {
            top: calc(100% + 10px);
        }
        100% {
            top:320px;
        }
    }
    #section1 {
        background-image:url(../img/bcg1-iPadPro.png);
    }
    #section2 {
        background-image:url(../img/bcg2-iPadPro.png);
    }
    #section3 {
        background-image:url(../img/bcg3-iPadPro.png);
    }
    #section4 {
        background-image:url(../img/bcg4-iPadPro.png);
    }
    #section5 {
        background-image:url(../img/bcg5-iPadPro.png);
    }
    
    #section1 .hover-block {
        background-image: url(../img/hover-bcg1-iPadPro.png);
    }
    #section3 .hover-block {
        background-image: url(../img/hover-bcg3-iPadPro.png);
    }
    #section4 .hover-block {
        background-image: url(../img/hover-bcg4-iPadPro.png);
    }
    #section5 .hover-block {
        background-image: url(../img/hover-bcg5-iPadPro.png);
    }
}
@media all and (width: 1366px) and (height: 1024px) {
    .monitor {
        left: 510px;
        top:320px;
    }
    @-webkit-keyframes bottomAppearance {
        0% {
            top: calc(100% + 10px);
        }
        100% {
            top:320px;
        }
    }
    @keyframes bottomAppearance {
        0% {
            top: calc(100% + 10px);
        }
        100% {
            top:320px;
        }
    }
    #section1 {
        background-image:url(../img/bcg1-iPadPro-album.png);
    }
    #section2 {
        background-image:url(../img/bcg2-iPadPro-album.png);
    }
    #section3 {
        background-image:url(../img/bcg3-iPadPro-album.png);
    }
    #section4 {
        background-image:url(../img/bcg4-iPadPro-album.png);
    }
    #section5 {
        background-image:url(../img/bcg5-iPadPro-album.png);
    }
    
    #section1 .hover-block {
        background-image: url(../img/hover-bcg1-iPadPro-album.png);
    }
    #section3 .hover-block {
        background-image: url(../img/hover-bcg3-iPadPro-album.png);
    }
    #section4 .hover-block {
        background-image: url(../img/hover-bcg4-iPadPro-album.png);
    }
    #section5 .hover-block {
        background-image: url(../img/hover-bcg5-iPadPro-album.png);
    }
}
