

body {
    padding: 0;
    margin: 0; 
    background-color: #394048;
    overflow: hidden;
}

a, p, span {
    font-family: 'Bicubik', sans-serif;
    color:#fff;
}

a {
    text-decoration: none;
}

button {
    display: block;
    text-transform: uppercase;
    padding: 30px 50px;
    background-color: #394048;
    border:none;
    cursor: pointer;
}
.active {
    display: block;
    visibility: visible;
}
#section1 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg1-1920x1070.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
}
#section2 {
    display: none;
  
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg2-1920x1070.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
}
#section3 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg3-1920x1070.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: left top;
}
#section4 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg4-1920x1070.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
#section5 {
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #777c84;
    position: relative;
    background-image:url(../img/bcg5-1920x1070.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.hover-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#section1 .hover-block {
    background-image: url(../img/hover-bcg1-1920x1070.png);
}
#section3 .hover-block {
    background-image: url(../img/hover-bcg3-1920x1070.png);
}
#section4 .hover-block {
    background-image: url(../img/hover-bcg4-1920x1070.png);
    background-position: center;
}
#section5 .hover-block {
    background-image: url(../img/hover-bcg5-1920x1070.png);
    background-position: center;
}
.monitor {
    display: block;
    position: relative;
    width: 720px;
    height: 600px;
    background-image: url(../img/pc1920x1070.png);
    background-repeat: no-repeat;
    background-size: cover;
    top: 350px;
    left: 710px;
    z-index: 9;
    overflow: hidden;
    animation: bottomAppearance 1s ease-in-out;
}
@keyframes bottomAppearance {
    0% {
        top:1070px;
    }
    100% {
        top: 346px;
    }
}

.picture-box {
    display: block;
    position: relative;
    top: 26px;
    left: 17px;
    width: 686px;
    height: 384px;
    overflow: hidden;
    z-index: 6;   
}
.picture-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 686px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;   
    }

#section1 .picture-box:before {
    height: 1800px;
    animation: scroll1 12s ease-in-out infinite;
}
@keyframes scroll1 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    25% {
        top: -300px;
    }
    40% {
        top: -700px;
    }
    70% {
        top:-1000px;
    }
    90% {
        top:-1400px;
    }
    100% {
        top:0;
    }
}
#section2 .picture-box:before {
    height: 3850px;
    animation: scroll2 12s ease-in-out infinite;
}
@keyframes scroll2 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    25% {
        top: -860px;
    }
    45% {
        top: -1720px;
    }
    65% {
        top:-2580px;
    }
    80% {
        top:-3467px;
    }
    90% {
        top:-3467px;
    }
    100% {
        top:0;
    }
}
#section3 .picture-box:before {
    height: 2560px;
    animation: scroll3 12s ease-in-out infinite;
}
@keyframes scroll3 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    25% {
        top: -540px;
    }
    45% {
        top: -1080px;
    }
    65% {
        top:-1620px;
    }
    80% {
        top:-2177px;
    }
    90% {
        top:-2177px;
    }
    100% {
        top:0;
    }
}
#section4 .picture-box:before {
    height: 1720px;
    animation: scroll4 12s ease-in-out infinite;
}
@keyframes scroll4 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    25% {
        top: -330px;
    }
    45% {
        top: -660px;
    }
    65% {
        top:-990px;
    }
    80% {
        top:-1337px;
    }
    90% {
        top:-1337px;
    }
    100% {
        top:0;
    }
}
#section5 .picture-box:before {
    height: 2720px;
    animation: scroll5 12s ease-in-out infinite;
}
@keyframes scroll5 {
    0% {
        top:0;
    }
    10% {
        top:0;
    }
    25% {
        top: -580px;
    }
    45% {
        top: -1160px;
    }
    65% {
        top:-1740px;
    }
    80% {
        top:-2337px;
    }
    90% {
        top:-2337px;
    }
    100% {
        top:0;
    }
}
#section1 .picture-box:before {
    content: '';
    background-image: url(../img/content1-522x1378.png);
}
#section2 .picture-box:before {
    content: '';
    background-image: url(../img/content2.png);
}
#section3 .picture-box:before {
    content: '';
    background-image: url(../img/content3.png);
}
#section4 .picture-box:before {
    content: '';
    background-image: url(../img/content4.png);
}
#section5 .picture-box:before {
    content: '';
    background-image: url(../img/content5.png);
}
.logo-box {
    display: block;
    position: absolute;
    top: 0;
    left: 140px;
    height: 80px;
    z-index: 999;
}
.logo-box .logo-block {
    display: inline-block;
    width: 250px;
    height: 100%;
    background-image: url(../img/MVACorp_logo230-80.png);
    background-repeat: no-repeat;
}
.text-block {
    display: inline-block;
    height: 100%;
    width: 250px;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 19px;
    font-family: 'Bicubik', sans-serif;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
}
.foot-text {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 30px;
    right: 50px;
    height: 30px;
    width: 50%;
    z-index: 999;
    overflow: hidden;
}
.foot-text .foot-holder span {
    display: inline-block;
    font-size: 12px;
    color:#fff;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.divider {
    display: inline-block;
    width: 3px;
    height: 30px;
    background-color: #fff;
    margin: 0 20px;
}
.skype-holder {
    display: inline-block;
    font-size: 12px;
    text-transform:uppercase;
    letter-spacing: 2px;
}
.skype-holder i {
    font-size: 16px;
    color:#fff;
    display: inline-block;
} 
.skype-holder p {
    display: inline-block;
    margin-left: 10px;
}
.foot-holder {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.order {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 16px;
    letter-spacing: 2px;
    z-index: 999;
    cursor: pointer;
}

.block-color {
    width: 550px;
    height: 460px;
    position: absolute;
    right: 0;
    top: 140px;
    font-family: 'Bicubik', sans-serif;
    color:#fff;
    font-weight: 300;
    -webkit-box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75);
    -moz-box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75);
    box-shadow: -16px 0px 45px -24px rgba(0,0,0,0.75); 
    z-index: 99;
    animation: rightBoxAppearance 2s linear;
}

@keyframes rightBoxAppearance {
    0% {
        right: -555px;
    }
    50% {
        right: -555px;
    }
    95% {
        right: 30px;
    }
    100%{
        right: 0;
    }
}
.block-color p {
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 50px;
    margin-left: 50px;
    text-transform: uppercase;
}
#section1 .block-color {
    background-color: #f54657;
}
#section2 .block-color {
    background-color: #b6c02c;
}
#section3 .block-color {
    background-color: #36d8c1;
}
#section4 .block-color {
    background-color: #d8ce6d;
}
#section5 .block-color {
    background-color: #b21623;
}
.css-typing {
    display: block;
    margin-top: 60px;
    margin-left: -5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 48px;
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: type 3s steps(50, end);
    animation: type 3s steps(50, end);
}
.css-typing1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 48px;
    display: block;
    margin-left: 125px;
    width: 15em;
    white-space:nowrap;
    overflow:hidden;
    -webkit-animation: types 4s steps(50, end);
    animation: types 4s steps(50, end);
}
#section5 .css-typing {
    margin-top: 45px;
    font-size: 72px;
}
#section5 .css-typing1 {
    font-size: 72px;
    margin-left: 190px;
}

@keyframes type{
    0% { width: 0; }
    70% {width: 0;}
}
@-webkit-keyframes type{
    0% { width: 0; }
    70% {width: 0;}
}
@keyframes types{
    0% { width: 0; }
    70% {width: 0;}
}
@-webkit-keyframes types{
    0% { width: 0; }
    70% {width: 0;}
}
.block-color button {
    position: absolute;
    bottom: -1px;
    left: 50px;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    }

/*===== ПРЕЛОАДЕР =====*/

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background:#fff;
    z-index: 1000;
}

#page-preloader .spinner {
    background: url("../img/spinner.gif") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    background-size: contain;
    top:50%;
    height: 300px;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px;
    position: absolute;
    width: 300px;
}

/*==== модальное окно - попап ======*/

.overlay {
    background: #363b42;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1002;
    opacity: .8;
}
.visible {
    background: #fff;
    position: fixed;
    left: calc(50% - 285px);
    top: calc(50% - 320px);
    overflow: hidden;
    z-index: 2000;
    width: 570px;
    height: 640px;
    padding: 20px 50px;
    box-sizing: border-box;
}
.red-block {
    position: absolute;
    top: 45px;
    left: 0;
    width: 4px;
    height: 110px;
    background-color: #f54657;
}
#win .close-window {
    padding: 0;
    border: none;
    background-color: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20px;
    top: 20px;

}
#win .close-window img {
    width: 100%;
}
#win button[type="button"]:hover {
    cursor: pointer;
}
#win h2 {
    font-family: 'Bicubik', sans-serif;
    font-size: 24px;
    text-align: left;
    color: #394048;
    text-transform: uppercase;
}
#win-desc {
    font-family:'Geometria', sans-serif;
    font-size: 16px;
    color: #394048;
    text-transform: uppercase;
    margin-top: 0px;
}

.popup-select-style {
    overflow: hidden; 
    height: 34px;
    background: url(../img/arrow-down.png) no-repeat #DDD;
    background-position: 95% 50%;
    width: 99%;
    margin: 40px auto;
    padding-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.popup-select-style select {
    border-radius: 0;
    background: transparent;
    height: 34px;
    padding: 5px;
    border: 0;
    font-size: 16px;
    font-family: 'Geometria', sans-serif;
    line-height: 1;
    letter-spacing: 1.5px;
    -webkit-appearance: none;
    width: 100%;

   }

.popup-select-style select:focus {
    outline: none;
    border: none;
}
#win-add {
    font-family: Bicubik, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color:#394048;
    letter-spacing: 1.5px;
    display: block;
    margin-bottom: 20px;
}
.win-add-input {
    display: block;
}
.win-add-checkbox {
    display: none;
}
.win-add-input>label {
    display: inline-block;
    font-family: 'Geometria', sans-serif;
    font-size: 16px;
}
input[type="checkbox"] + label span {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-family: 'Geometria', sans-serif;
    vertical-align:middle;
    background:url(../img/checkbox-bcg.png) left top no-repeat;
    cursor: pointer;
    margin:15px 30px 15px 0;
}
input.win-add-checkbox:checked + label span {
    background:url(../img/checkbox-checked.png) top no-repeat;
}
#submit-button-form {
    border: none;
    position: absolute;
    bottom: 0;
    right: 20%;
    width: 60%;
    height: 60px;
    background-color: #f54657;
    font-family: Bicubik, sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color:#fff;
}
#submit-button-form:focus {
    outline: none;
}


@media all and (max-width: 1680px) {
    #section1 {
        background-size:1780px 1050px;
        background-position: right bottom;
    }
    #section2 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section3 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section4 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section5 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section1 .hover-block {
        background-size:1780px 1050px;
        background-position: right bottom;
    }
    #section4 .hover-block {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section5 .hover-block {
        background-size:1780px 1070px;
        background-position: center;
    }
    .monitor {
        width: 750px;
        height: 700px;
        top: 25vh;
        left: 490px;
        background-size: 100%;
    }
    @keyframes bottomAppearance {
        0% {
            top:1050px;
        }
        100% {
            top: 25vh;
        }
    }
    .picture-box {
        top: 25px;
        left: 17px;
        width: 716px;
        height: 402px;  
    }
    .picture-box:before {
        width: 716px;
        height: 1478px;
    }
    .block-color {
        width: 550px;
        height: 460px;
        top: 140px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .foot-text {
        width: 55%;
    }
    .css-typing {
        font-size: 48px;
    }
    .css-typing1 {
        font-size: 48px;
    }
}

@media all and (max-width: 1440px){
    #section1 {
        background-size:1780px 1050px;
        background-position: right bottom;
    }
    #section2 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section3 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section4 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section5 {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section1 .hover-block {
        background-size:1780px 1050px;
        background-position: right bottom;
    }
    #section4 .hover-block {
        background-size:1780px 1070px;
        background-position: center;
    }
    #section5 .hover-block {
        background-size:1780px 1070px;
        background-position: center;
    }
    .monitor {
        width: 630px;
        height: 700px;
        top: 240px;
        left: 375px;
        background-size: 100%;
    }
    .picture-box {
        top: 20px;
        left: 15px;
        width: 600px;
        height: 340px;  
    }
    .picture-box:before {
        width: 600px;
        height: 1478px;
    }
    @keyframes bottomAppearance {
        0% {
            top:905px;
        }
        100% {
            top: 240px;
        }
    }
    .block-color {
        width: 500px;
        height: 400px;
        top: 152px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -505px;
        }
        50% {
            right: -505px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .visible {
        left: 50%;
        top: 40%;
        margin-top: -235px;
        width: 570px;
        height: 640px;
        padding: 20px 50px;
        margin-left: -250px;
    }
    .foot-text {
        width: 61%;
    }
}

@media all and (max-width: 1366px) {
    #section1 {
        background-size:1450px 800px;
        background-position: right bottom;
    }
    #section2 {
        background-size:1450px 800px;
        background-position: center;
    }
    #section3 {
        background-size:1450px 800px;
        background-position: center;
    }
    #section4 {
        background-size:1450px 800px;
        background-position: center;
    }
    #section5 {
        background-size:1450px 800px;
        background-position: center;
    }
    #section1 .hover-block {
        background-size:1450px 800px;
        background-position: right bottom;
    }
    #section4 .hover-block {
        background-size:1450px 800px;
        background-position: center;
    }
    #section5 .hover-block {
        background-size:1450px 800px;
        background-position: center;
    }
    .monitor {
        width: 550px;
        height: 600px;
        top: 200px;
        left: 440px;
        background-size: 100%;
    }
    .picture-box {
        top: 17px;
        left: 13px;
        width: 524px;
        height: 300px;  
    }
    .picture-box:before {
        width: 530px;
        height: 1478px;
    }
    @keyframes bottomAppearance {
        0% {
            top:905px;
        }
        100% {
            top: 240px;
        }
    }
    .block-color {
        width: 430px;
        height: 360px;
        top: 140px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .css-typing {
        font-size: 36px;
    }
    .css-typing1 {
        font-size: 36px;
    }
    .visible {
        left: 50%;
        top: 50%;
        margin-top: -300px;
        width: 450px;
        height: 550px;
        padding: 20px 50px;
        margin-left: -225px;
    }
    input[type="checkbox"] + label span {
        margin:10px 30px 10px 0;
    }
    .skype-holder {
        font-size: 10px;
    }
    .foot-text .foot-holder span {
        font-size: 10px;
    }
}


@media all and (max-width: 1280px) {

    #section1 {
        background-size:1280px 720px;
    }
    #section1 .hover-block {
        background-size:1280px 720px;
    }
    .monitor {
        width: 550px;
        height: 450px;
        top: 180px;
        left: 390px;
        background-size: 100%;
    }
    @keyframes bottomAppearance {
        0% {
            top:720px;
        }
        100% {
            top: 180px;
        }
    }
    .picture-box {
        top: 15px;
        left: 13px;
        width: 525px;
        height: 299px;  
    }
    .picture-box:before {
        width: 525px;
    }
    #section1 .picture-box:before {
        height: 1400px;
    }
    @keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -300px;
        }
        65% {
            top: -600px;
        }
        80% {
            top:-1100px;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:0;
        }
    }
    #section2 .picture-box:before {
        height: 3000px;
    }
    @keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -550px;
        }
        45% {
            top: -1100px;
        }
        65% {
            top:-1650px;
        }
        80% {
            top:-2700px;
        }
        90% {
            top:-2700px;
        }
        100% {
            top:0;
        }
    }
    #section3 .hover-block {
        background-image: url(../img/hover-bcg3-1280.png);
    }
    #section3 .picture-box:before {
        height: 2000px;
    }
    @keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -450px;
        }
        45% {
            top: -900px;
        }
        65% {
            top:-1300px;
        }
        80% {
            top:-1700px;
        }
        90% {
            top:-1700px;
        }
        100% {
            top:0;
        }
    }
    #section4 .picture-box:before {
        height: 1400px;
    }
    @keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -260px;
        }
        45% {
            top: -520px;
        }
        65% {
            top:-780px;
        }
        80% {
            top:-1100px;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:0;
        }
    }
    #section5 .picture-box:before {
        height: 2300px;
        animation: scroll5 12s ease-in-out infinite;
    }
    @keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -450px;
        }
        45% {
            top: -900px;
        }
        65% {
            top:-1350px;
        }
        80% {
            top:-1998px;
        }
        90% {
            top:-1998px;
        }
        100% {
            top:0;
        }
    }
    .block-color {
        width: 430px;
        height: 320px;
        top: 110px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -435px;
        }
        50% {
            right: -435px;
        }
        95% {
            right: 30px;
        }
        100%{
            right: 0;
        }
    }
    .foot-text {
        display: block;
        height: 60px;
        width: 564px;
        text-align: right;
    }
    .foot-text .foot-holder span {
        margin-right: 0;
    }
    .skype-holder p {
        margin-right: 4px;
    }
    .css-typing {
        margin-top: 45px;
        font-size: 36px;
    }
    .css-typing1 {
        font-size: 36px;
    }
    #section5 .css-typing {
        margin-top: 45px;
        font-size: 48px;
    }
    #section5 .css-typing1 {
        font-size: 48px;
        margin-left: 110px;
    }
    .visible {
        left: 50%;
        top: 40%;
        margin-top: -275;
        width: 450px;
        height: 550px;
        padding: 20px 50px;
        margin-left: -225px;
    }
}
@media all and (max-width: 1024px) {
    .logo-box .logo-block {
        background-image: url(../img/MVACorp_logo1024.png);
    }
    .text-block {
        display: none;
    }
    #section1 {
        background-size:1230px 768px;
        background-position: bottom right;
    }
    #section1 .hover-block {
        background-size:1230px 768px;
        background-position: bottom right;
    }
    #section3 .hover-block {
        background-image: url(../img/hover-bcg3-1024.png);
    }
    .monitor {
        width: 550px;
        height: 460px;
        top: 220px;
        left: 235px;
        background-size: 100%;
    }
    @keyframes bottomAppearance {
        0% {
            top:768px;
        }
        100% {
            top: 227px;
        }
    }
    .picture-box {
        top: 18px;
        left: 13px;
        width: 524px;
        height: 296px;  
    }
    .picture-box:before {
        width: 524px;
    }
    #section1 .picture-box:before {
        height: 1400px;
    }
    @keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -300px;
        }
        65% {
            top: -600px;
        }
        80% {
            top:-1080px;
        }
        90% {
            top:-1080px;
        }
        100% {
            top:0;
        }
    }
    #section2 .picture-box:before {
        height: 3000px;
    }
    @keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -550px;
        }
        45% {
            top: -1100px;
        }
        65% {
            top:-1650px;
        }
        80% {
            top:-2700px;
        }
        90% {
            top:-2700px;
        }
        100% {
            top:0;
        }
    }
    #section3 .picture-box:before {
        height: 2000px;
    }
    @keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -450px;
        }
        45% {
            top: -900px;
        }
        65% {
            top:-1300px;
        }
        80% {
            top:-1700px;
        }
        90% {
            top:-1700px;
        }
        100% {
            top:0;
        }
    }
    #section4 .picture-box:before {
        height: 1400px;
    }
    @keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -260px;
        }
        45% {
            top: -520px;
        }
        65% {
            top:-780px;
        }
        80% {
            top:-1100px;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:0;
        }
    }
    #section5 .picture-box:before {
        height: 2300px;
        animation: scroll5 12s ease-in-out infinite;
    }
    @keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -450px;
        }
        45% {
            top: -900px;
        }
        65% {
            top:-1350px;
        }
        80% {
            top:-1998px;
        }
        90% {
            top:-1998px;
        }
        100% {
            top:0;
        }
    }
    .block-color {
        width: 330px;
        height: 280px;
        top: 150px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -335px;
        }
        50% {
            right: -335px;
        }
        95% {
            right: 20px;
        }
        100%{
            right: 0;
        }
    }
    .foot-text {
        font-size: 12px;
    }

    .css-typing {
        margin-top: 45px;
        font-size: 24px;
    }
    .css-typing1 {
        font-size: 24px;
        margin-left: 70px;
    }
    #section5 .css-typing {
        margin-top: 45px;
        font-size: 34px;
    }
    #section5 .css-typing1 {
        font-size: 34px;
        margin-left: 70px;
    }
    .block-color button {
        left: 0px;
        width: 100.5%;
        padding: 30px 30px; 
    }
    .visible {
        left: 50%;
        top: 40%;
        margin-top: -210px;
        width: 450px;
        height: 550px;
        margin-left: -225px;
    }
}

@media all and (max-width: 1015px) {
    .foot-text {
        display: block;
        bottom: 30px;
        right: 0;
        height: 60px;
        width: 100%;
    }
    .foot-text span {
        display: inline-block;
        margin-right: 10px;
        line-height: 20px
    }
    .foot-text span:last-child {
        margin-right: 45px;
        margin-left: 10px;
    }
    .skype-holder p {
        display: inline-block;
        margin-left: 10px;
    }
    .skype-holder {
        display: block;
        float: right;
    }
    .foot-holder {
        display: flex;
        float: right;
    }
}

@media all and (max-width: 768px) {
    #section1 {
        background-image: url(../img/bcg1-768x1024.png);
        background-position: top left;
        background-size: 768px 1024px;
    }
    #section1 .hover-block {
        display: none;
    }
    #section2 {
        background:url(../img/bcg2-768x1024.png);
        background-position: top left;
    }
    #section3 {
        background:url(../img/bcg3-768x1024.png);
        background-position: center;
    }
    #section4 {
        background:url(../img/bcg4-768x1024.png);
        background-position: center;
    }
    #section4 .hover-block {
        background: url(../img/hover-bcg4-768x1024.png) center no-repeat;
    }
    #section5 {
        background-image: url(../img/bcg5-768x1024.png);
        background-position: center;
        background-size: 768px 1024px;
    }
    #section5 .hover-block {
        background-image: url(../img/hover-bcg5-768x1024.png);
        background-position: center;
        background-size: 768px 1024px;
    }
    .monitor {
        width: 560px;
        height: 500px;
        top: 150px;
        left: 165px;
        background-size: 100%;
    }
    @keyframes bottomAppearance {
        0% {
            left: 768px;
        }
        100% {
            left: 165px;
        }
    }
    .picture-box {
        top: 18px;
        left: 13px;
        width: 535px;
        height: 305px;  
    }
    .picture-box:before {
        width: 535px;
    }
    #section1 .picture-box:before {
        height: 1400px;
    }
    @keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -300px;
        }
        65% {
            top: -600px;
        }
        80% {
            top:-1080px;
        }
        90% {
            top:-1080px;
        }
        100% {
            top:0;
        }
    }
    #section2 .picture-box:before {
        height: 3000px;
    }
    @keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -550px;
        }
        45% {
            top: -1100px;
        }
        65% {
            top:-1650px;
        }
        80% {
            top:-2700px;
        }
        90% {
            top:-2700px;
        }
        100% {
            top:0;
        }
    }
    #section3 .picture-box:before {
        height: 2000px;
    }
    @keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -450px;
        }
        45% {
            top: -900px;
        }
        65% {
            top:-1300px;
        }
        80% {
            top:-1700px;
        }
        90% {
            top:-1700px;
        }
        100% {
            top:0;
        }
    }
    #section4 .picture-box:before {
        height: 1400px;
    }
    @keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -260px;
        }
        45% {
            top: -520px;
        }
        65% {
            top:-780px;
        }
        80% {
            top:-1100px;
        }
        90% {
            top:-1100px;
        }
        100% {
            top:0;
        }
    }
    #section5 .picture-box:before {
        height: 2300px;
        animation: scroll5 12s ease-in-out infinite;
    }
    @keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -450px;
        }
        45% {
            top: -900px;
        }
        65% {
            top:-1350px;
        }
        80% {
            top:-1998px;
        }
        90% {
            top:-1998px;
        }
        100% {
            top:0;
        }
    }
    .block-color {
        width: 370px;
        height: 280px;
        top: 515px;
        }
    @keyframes rightBoxAppearance {
        0% {
            right: -375px;
        }
        50% {
            right: -375px;
        }
        95% {
            right: 20px;
        }
        100%{
            right: 0;
        }
    }
    .css-typing {
        margin-top: 45px;
        font-size: 24px;
    }
    .css-typing1 {
        font-size: 24px;
        margin-left: 70px;
    }
    
    .block-color button {
        right: 0px;
        bottom: 0;
        left: 50px;
        width: 320px;
        padding: 30px 30px; 
    }
}


/* ===== ДЕСКТОП МЕНЮ ======= */
.menu-desktop {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1002;
}
.menu-btn {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1001;
    background-color: #394048;
    cursor: pointer;
}
.menu-close {
    display: block;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #394048;
    cursor: pointer;
}
.menu-close.change {
    background-color: #4d545b;
}
.menu-close.change span:nth-child(1) {
    transform: rotateZ(45deg);
    top: 40px;
}
.menu-close.change span:nth-child(3) {
    transform: rotateZ(-45deg);
    top: 40px;
}
.menu-close.change span:nth-child(2) {
    opacity: 0;
}
.menu-btn span {
    display: block;
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #fff;
    left: 20px;
    opacity: 1;
    transition: 0.2s all linear;
}
.menu-btn span:nth-child(1) {
    top: 28px;
}
.menu-btn span:nth-child(2) {
    top: 38px;
}
.menu-btn span:nth-child(3) {
    top: 48px;
}
.menu-close span {
    display: block;
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #fff;
    left: 20px;
    opacity: 1;
    transition: 0.2s all linear;
}
.menu-close span:nth-child(1) {
    top: 28px;
}
.menu-close span:nth-child(2) {
    top: 38px;
}
.menu-close span:nth-child(3) {
    top: 48px;
}
.menu-desktop ul {
    display: block;
    background-color: #394048;
    height: 100%;
    padding: 140px 0 0 0; 
    margin: 0;
    list-style: none;
}
.menu-desktop ul li {
    width: 100%;
    height: 70px;
    text-align: center;
    margin-bottom: 10px;
}
.menu-desktop ul li:hover {
    background-color: #353b43;
}
.menu-desktop ul li a {
    font-size: 18px;
    text-transform: uppercase;
    color:#fff;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 70px;
}


/* === ТЕЛЕФОНЫ И ЯЗЫКИ === */
.phones {
    position: absolute;
    top: 0;
    left: 45vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999; 
}
.phones a {
    margin-right: 60px;
    font-size: 14px;
    font-weight: 200;
}
.call-order {
    display: block;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 1px solid #fff;
    background-image:url(../img/call-icon.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 0;
}

.languages {
    position: absolute;
    top: 0;
    left: 75vw;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999; 
    color: #fff;
}
.languages a {
    font-size: 14px;
    color: #fff;
    margin-right: 20px;
    margin-left: 20px;
}
.languages a.active {
    color: #2f353c;
}

/* === ОТПРАВИТЬ ПИСЬМО (ФУТЕР) === */
.mail-order {
    position: absolute;
    left: 15vw;
    bottom: -50px;
    width: 308px;
    height: auto;
    z-index: 999;
    transition: 0.3s all ease;
    cursor: pointer;
}
.mail-order:hover {
    bottom: 0;
}
.mail-order .visible-part {
    width: 100%;
    max-width: 308px;
    height: 38px;
    background-image: url(../img/mailOrder-bcg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    box-sizing: border-box;
}
.visible-part i {
    font-size: 14px;
    color: #fff;
}
.visible-part p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
    font-family: sans-serif;
}
.hidden-part {
    width: 308px;
    height: 50px;
    background-color: #656464;
    padding: 0;
    text-align: center;
}
.hidden-part i {
    font-size: 50px;
    color: #fff;
}
.mobile-links {
    display: none;
}

@media all and (max-width: 1680px) {
    .menu-desktop ul {
        padding-top: 85px;
    }
}

@media all and (max-width: 1440px) {
    .mail-order {
        left: 10vw;
    }
    .phones a {
        margin-right: 20px;
    }
}

@media all and (max-width: 1280px) {
    .phones {
        display: block;
        left: 49vw;
        height: auto;
        padding-top: 35px;
    }
    .phones a {
        display: inline-block;
    }
    .phones a:nth-child(1) {
        display: block;
    }
    .call-order {
        width: 40px;
        height: 40px;
        margin-top: -15px;
    }
    .languages {
        left: 70vw;
    }
    .menu-desktop ul li {
        margin-bottom: 0;
    }
}

@media all and (max-width: 1024px) {
    .phones {
        left: 40vw;
    }
    .languages {
        left: 64vw;
    }
}

@media all and (max-width: 768px) and (max-height: 1024px) {
    .phones {
        left: 50vw;
    }
    .phones a:nth-child(1) {
        display: none;
    }
    .phones a:nth-child(2) {
        display: none;
    }
    .call-order {
        margin-top: 0;
    }
    .languages {
        left: 58vw;
        height: 40px;
        top: 36px;
    }
    .languages a {
        margin: 0 10px;
        font-size: 12px;
    }
    .foot-text {
        display: flex;
        text-align: left;
        width: 360px;
        right: 20px;
        bottom: 10px;
    }
    .divider {
        display: none;
    }
    .foot-text span:last-child  {
        display: none;
    }
}

@media all and (max-width: 640px) and (max-height: 1024px) {
    .logo-box {
        left: 100px;
    }
    .languages {
        top: 85px;
        left: 85vw;
    }
    .phones {
        left: 54vw;
    }
    .mail-order {
        left: 0;
    }
    .foot-text {
        display: block;
        text-align: right;
        width: 200px;
        right: 20px;
        bottom: 10px;
    }
    .block-color {
        top: 510px;
    }
    .monitor {
        left: 150px;
        top: 180px;
        width: 465px;
        height: 430px;
    }
    .picture-box {
        top: 17px;
        left: 11px;
        width: 443px;
        height: 247px;
    }
    .block-color {
        top: 490px;
    }
    .picture-box:before {
        width: 444px;
    }
    #section1 .picture-box:before {
        height: 1150px;
    }
    @keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -300px;
        }
        65% {
            top: -600px;
        }
        80% {
            top:-900px;
        }
        90% {
            top:-900px;
        }
        100% {
            top:0;
        }
    }
    #section2 .picture-box:before {
        height: 2500px;
    }
    @keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -550px;
        }
        45% {
            top: -1100px;
        }
        65% {
            top:-1650px;
        }
        80% {
            top:-2252px;
        }
        90% {
            top:-2252px;
        }
        100% {
            top:0;
        }
    }
    #section3 .picture-box:before {
        height: 1700px;
    }
    @keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -400px;
        }
        45% {
            top: -800px;
        }
        65% {
            top:-1200px;
        }
        80% {
            top:-1453px;
        }
        90% {
            top:-1453px;
        }
        100% {
            top:0;
        }
    }
    #section4 .picture-box:before {
        height: 1100px;
        animation: scroll4 12s ease-in-out infinite;
    }
    @keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -210px;
        }
        45% {
            top: -420px;
        }
        65% {
            top:-630px;
        }
        80% {
            top:-852px;
        }
        90% {
            top:-852px;
        }
        100% {
            top:0;
        }
    }
    #section5 .picture-box:before {
        height: 2000px;
        animation: scroll5 12s ease-in-out infinite;
    }
    @keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -450px;
        }
        45% {
            top: -900px;
        }
        65% {
            top:-1350px;
        }
        80% {
            top:-1750px;
        }
        90% {
            top:-1750px;
        }
        100% {
            top:0;
        }
    }
}
@media all and (max-width: 500px) {
    #section1 {
        background-image:url(../img/bcg1-mobile.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #section2 {
        background-image:url(../img/bcg2-mobile.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #section3 {
        background-image:url(../img/bcg3-mobile.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #section4 {
        background-image:url(../img/bcg4-mobile.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    #section5 {
        background-image:url(../img/bcg5-mobile.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .order {
        display: none;
    }
    .phones {
        display: none;
    }
    .logo-box {
        left: 80px;
        height: 60px;
    }
    .logo-box .logo-block {
        background-size: cover;
        width: 175px;
    }
    .menu-btn {
        width: 60px;
        height: 60px;
    }
    .menu-btn span {
        left: 15px;
        width: 30px;
    }
    .menu-btn span:nth-child(1) {
        top: 20px;
    }
    .menu-btn span:nth-child(2) {
        top: 28px;
    }
    .menu-btn span:nth-child(3) {
        top: 36px;
    }
    .menu-close {
        width: 60px;
        height: 60px;
    }
    .menu-close span:nth-child(1) {
        top: 20px;
    }
    .menu-close span:nth-child(2) {
        top: 28px;
    }
    .menu-close span:nth-child(3) {
        top: 36px;
    }
    .menu-close.change {
        background-color: #4d545b;
    }
    .menu-close.change span:nth-child(1) {
        transform: rotateZ(45deg);
        top: 30px;
    }
    .menu-close.change span:nth-child(3) {
        transform: rotateZ(-45deg);
        top: 30px;
    }
    .menu-close span {
        width: 30px;
        height: 3px;
        background-color: #fff;
        left: 15px;
    }
    .menu-desktop ul li a {
        font-size: 12px;
        line-height: 50px;
    }
    .menu-desktop ul li {
        height: 50px;
    }
    .languages {
        top: 0;
        left: auto;
        right: 10px;
    }
    .hover-block {
        display: none;
    }
    .block-color {
        width: 225px;
        height: 220px;
        top: 295px;
        right: auto;
        left: 0;
    }
    .block-color button {
        width: 225px;
        left: 0;
        bottom: 0;
        height: 60px;
        padding: 20px;
        font-size: 10px;
    }
    .block-color p {
        margin-top: 30px;
        font-size: 10px;
        margin-left: 20px;
    }
    .css-typing {
        margin-top: 20px;
        font-size: 20px;
    }
    .css-typing1 {
        font-size: 20px;
        margin-left: 55px;
    }
    #section5 .css-typing {
        margin-top: 20px;
        font-size: 26px;
    }
    #section5 .css-typing1 {
        font-size: 26px;
        margin-left: 55px;
    }
    @keyframes rightBoxAppearance {
        0% {
            left: -235px;
        }
        50% {
            left: -235px;
        }
        95% {
            left: 20px;
        }
        100%{
            left: 0;
        }
    }
    .monitor {
        width: 270px;
        height: 250px;
        top: 120px;
        left: calc(100% - 260px);
        animation:bottomAppearance 1s linear;
    }
    .picture-box {
        top: 10px;
        left: 7px;
        height: 143px;
        width: 257px;
    }
    @keyframes bottomAppearance {
        0% {
            left: calc(100% + 10px);
        }
        100% {
            left: calc(100% - 260px);
        }
    }

    .picture-box:before {
        width: 258px;
    }
    #section1 .picture-box:before {
        height: 700px;
    }
    @keyframes scroll1 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -200px;
        }
        40% {
            top: -375px;
        }
        70% {
            top:-550px;
        }
        90% {
            top:-550px;
        }
        100% {
            top:0;
        }
    }
    #section2 .picture-box:before {
        height: 1700px;
    }
    @keyframes scroll2 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -400px;
        }
        45% {
            top: -800px;
        }
        65% {
            top:-1200px;
        }
        80% {
            top:-1550px;
        }
        90% {
            top:-1550px;
        }
        100% {
            top:0;
        }
    }
    #section3 .picture-box:before {
        height: 1000px;
    }
    @keyframes scroll3 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -210px;
        }
        45% {
            top: -420px;
        }
        65% {
            top:-630px;
        }
        80% {
            top:-853px;
        }
        90% {
            top:-853px;
        }
        100% {
            top:0;
        }
    }
    #section4 .picture-box:before {
        height: 700px;
        animation: scroll4 12s ease-in-out infinite;
    }
    @keyframes scroll4 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -110px;
        }
        45% {
            top: -220px;
        }
        65% {
            top:-330px;
        }
        80% {
            top:-550px;
        }
        90% {
            top:-550px;
        }
        100% {
            top:0;
        }
    }
    #section5 .picture-box:before {
        height: 1200px;
        animation: scroll5 12s ease-in-out infinite;
    }
    @keyframes scroll5 {
        0% {
            top:0;
        }
        10% {
            top:0;
        }
        25% {
            top: -250px;
        }
        45% {
            top: -500px;
        }
        65% {
            top:-750px;
        }
        80% {
            top:-1055px;
        }
        90% {
            top:-1055px;
        }
        100% {
            top:0;
        }
    }
    .mail-order {
        display: none;
    }
    .foot-text {
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding:0 20px;
        text-align: right;
        right: 0;
        bottom: 0;
        font-size: 9px;
        height: 40px;
    }
    .foot-text .foot-holder span {
        font-size: 8px;
    }
    .skype-holder p {
        font-size: 8px;
        margin-left: 5px;
    }
    .skype-holder i {
        font-size: 10px;
    }
    .menu-desktop ul {
        padding-top: 40px;
    }
}